<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
	<div class="submit_row">
		<button class="submit_task" type="submit">
	  		<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
		</button>

		<%= f.text_field :content, placeholder: "New Todo" %>
	</div>
<% end %>