<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Hammersmith+One|Russo+One|Ubuntu" rel="stylesheet">
  </head>
 
  <script type="text/javascript">
    $(window).scroll(function(){
      var = fromTop = $(window).scrollTop();
      $("#container").css('margin', '-' + (100 -fromTop) + 'px auto 0px auto;');
    });
  </script>
  <body>
  <div class="wrap">
    <div class="bg"></div>
      <div id="user_panel">
        <div class="user_info">
          <div class="profile_picture">
            <img src="/profile.jpg" class="user_picture" alt="profile picture"/>
          </div>
          <div class="user_name">
            <p>Odd Stewardson</p>
          </div>
        </div>
        <ul>
          <li>log out</li>
          <li>basic stats</li>
          <li>account settings</li>
          <li></li>
          <li></li>
        </ul>
      </div>

        <div id="container">
          <figure class="front"><%= yield %></figure>
          <figure class="back">
            <i style="" class="fa fa-2x fa-undo back_to_dreams"></i>
          </figure>
        </div>

      <div id="inspiration_panel">
        <h1>Inspire me</h1>
        <div class="media_panel">
          <i class="fa fa-3x fa-angle-left"></i>
          <div id="queue">
            <ul class="miniatures">
              <li style=""><img src="/1.jpg" class="queue_item"/></li>
              <li><img src="/2.jpg" class="queue_item"/></li>
              <li><img src="/3.jpg" class="queue_item"/></li>
<!--               <li><img src="/2.jpg" class="queue_item"/></li>
 -->            </ul>
          </div>
          <i class="fa fa-3x fa-angle-right"></i>
        </div>
        <div class="quotes">
          <i id="get-quote" class="fa fa-2x fa-forward"></i>
          <div class="quotes_panel">
            
          </div>
        </div>
      </div>
      <div id="note_section" data-click-state="0">
        <div class="notepad_title">
          <h3>Notepad</h3>
          <img src="/up_arrow.png" class="note_up_arrow" alt="note up"/>
        </div>
        <div id="notepad">
        </div>
      </div>
  </div>    
  </body>
</html>
